.App {
  font-family: sans-serif;
}

.app-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding: 1rem;
}

.camera-output {
  margin-right: 1rem;
}

.settings-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
